<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<div class="p-3 mb-2 bg-light text-dark">
<h1> ADMİN PAGE </h1>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

   <form action="/home" method="post">
       <button type="sumbit" class="btn btn-warning font-weight-bold">HOME</button>
   </form>

     <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
</nav>

<br><br><br>

<form action="/addmusic" method="post">

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Music Name </span>
          </div>
          <input type="text"  name="mname" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Artist </span>
          </div>
          <input type="text"  name="martist"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Type </span>
          </div>
          <input type="text"  name="mtype"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

     <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Release Date </span>
          </div>
          <input type="text"  name="mdate"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

     <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Album </span>
          </div>
          <input type="text"  name="malbum"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

     <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Language </span>
          </div>
          <input type="text"  name="mlanguage"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

         <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Country </span>
          </div>
          <input type="text"  name="mcountry"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>



            <button type="submit" >  EKLE  </button>

</form>


 <div class="d-flex p-2 bd-highlight">{{ durum }}!</div>



</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>