{% extends "theme.html" %}

{% block body %}

<center>

  <br>

    <div class="bg-warning text-dark w-50 rounded">
           <center> <h1><b>Music List</b></h1> </center>
     </div>


<br>

<table class="table table-sm table-dark w-100 rounded">
  <thead class="text-warning">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Song Name</th>
      <th scope="col">Artist</th>
      <th scope="col">Type</th>
        <th scope="col">Date</th>
         <th scope="col">Album</th>
         <th scope="col">Language</th>
         <th scope="col">Country</th>
          <th scope="col">Options</th>


    </tr>
  </thead>
  <tbody>
            {% for music in session.getmusics %}


                        <tr>
                             <th scope="row">{{music[0] }}</th>
                             <td>{{ music[1] }}</td>
                             <td>{{ music[2] }}</td>
                             <td>{{ music[3] }}</td>
                             <td>{{ music[4] }}</td>
                             <td>{{ music[5] }}</td>
                             <td>{{ music[6] }}</td>
                             <td>{{ music[7] }}</td>
                         <td>   <a href=""  class="btn btn-success font-weight-bold"> Play </a> </td>
 <td> <a class="btn btn-warning font-weight-bold w-100" href=""> Add </a> </td>
               

                        </tr>

                {% endfor %}

</tbody>
</table>
</center>


{% endblock %}


